* {
    font-family: "JetBrains Mono";
    font-size: 14px;
}

window#waybar {
    background: transparent;
    border: none;
}

/* standalone segment */
#battery,
#bluetooth,
#clock,
#cpu,
#custom-nixstore,
#custom-coretemp,
#language,
#memory,
#network,
#workspaces button,
#submap,
#wireplumber {
    padding: 0 10px;
    margin: 6px 3px;
    border-radius: 4px;
    border: 1px solid #5074bd;
    font-weight: bold;
    background-color: #5074bd;
    color: black;
    transition: opacity .3s ease-out;
    opacity: 1;
}
/* inactive segment */
#bluetooth.off,
#network.disabled,
#network.disconnected,
#wireplumber.muted,
#battery.plugged {
    opacity: 0.4;
}
/* left part of multi-segment */
#custom-coretemp,
#language,
#network,
#bluetooth,
#cpu {
    margin-right: 0px;
    padding-right: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* right part of multi-segment */
#custom-coretemp,
#network,
#bluetooth,
#wireplumber,
#memory {
    margin-left: 0px;
    padding-left: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/* merge segments */
#custom-coretemp {
    padding-left: 0;
}
#cpu {
    padding-right: 0;
}


#submap {
    color: #5074bd;
    background-color: transparent;
}

#workspaces button {
    border-color: #5074bd;
    background-color: #5074bd;
    transition: background-color .3s ease-out;
    color: black;
}

#workspaces button.focused {
    background-color: #66abde;
}

#battery.warning {
    border-color: #EF6C00;
    background-color: #EF6C00;
    color: white;
}
#battery.critical {
    border-color: #F44336;
    background-color: #F44336;
    color: white;
}
#battery.charging {
    background-color: #4EFF63;
    border-color: #4EFF63;
    color: white;
}
