* {
    font-family: "JetBrains Mono";
    font-size: 13px;
}

window#waybar {
    background: transparent;
    border: none;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-nixstore,
#language,
#memory,
#network,
#workspaces button,
#submap,
#wireplumber {
    padding: 0 10px;
    margin: 6px 3px;
    border-radius: 4px;
    border: 1px solid #5074bd;
    font-weight: bold;
    background-color: #5074bd;
    color: black;
    transition: opacity .3s ease-out;
    opacity: 1;
}

#bluetooth:not(.on),
#network.disabled,
#network.disconnected {
    opacity: 0.4;
}

#wireplumber.muted {
    opacity: 0.4;
}

#submap {
    color: #5074bd;
    background-color: transparent;
}

#workspaces button {
    border-color: #5074bd;
    background-color: #5074bd;
    transition: background-color .3s ease-out;
    color: black;
}
#workspaces button.active {
    background-color: #66abde;
}

#battery.warning {
    border-color: #EF6C00;
    background-color: #EF6C00;
    color: white;
}
#battery.critical {
    border-color: #F44336;
    background-color: #F44336;
    color: white;
}
#battery.charging {
    background-color: #4EFF63;
    border-color: #4EFF63;
    color: white;
}
