name: update flake lock

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 2'

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/update-flake-lock@v28
      - run: nix flake check
